@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size:  1.1em;
    text-align: center;
    background: #333;
    color:#fff;
    line-height: 1.5;
}
 li a button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
color:rgb(236, 236, 236);
text-decoration: none;
}   

#headerr{
    position: sticky;
    top:0;
    z-index: 10;
    width: 100%;
    background: #24252a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.logo{
    cursor: pointer;
    width: 400px;
    padding: 5px 0;
    
}
.ul li{
    display: inline-block;
    padding: 4px 30px;
}

.ul li a{
    transition: all 0.3s ease 0s;
}
.ul li a:hover{
 color:#0088a9;
}
#headerr #becall{
    margin-top:5px;
    padding: 10px 50px;
    background: rgba(0,136,169,1);
    border:none;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#becall:hover{
    background: rgba(0,136,169,0.8);
}
#headerr{
    z-index: 10;
}
.ul li a{
    position: relative;
}
.ul >li >a::after{
    width: 0%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    height: 3px;
    background: #0088a9;
    bottom: -4px;
    content: '';
    left: 0;
    z-index: 11;
}
.ul >li> a:hover::after{
    width:100%;
}
img{
    width:100%;
    display: block;
    height: auto;
}
h1 , h2, h3{
margin: 0;
padding: 1em 0;
}
p{
    margin: 0;
    padding: 1em 0;
}
#btn-n{
    display: inline-block;
    background: #333;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border:none;
    border-radius: 5px;
    margin: 0.5em 0;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
}
#btn-n:hover{
background: #eaeaea;
color:#333;
}
li{
    list-style: none;
}
a{
 text-decoration: none;
 color: #eaeaea;
}

#showcase{
    min-height: 450px;
    color: #fff;
    text-align: center;

}
#showcase .bg-image{
    position: absolute;
    background: #333/* url('https://images.pexels.com/photos/247791/pexels-photo-247791.png')*/  url('https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?cs=srgb&dl=code-coding-conceptual-270360.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: .4;
}
#main .bg-images{
    position: absolute;
    background: #333 url('https://cdn.pixabay.com/photo/2017/01/11/00/30/lock-1970607_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
}
.box{
    padding: 20px;
  margin: 30px 0px;
}
.box > .email , .phone{
    font-size: 1.2em;
}
.box > .phone{
    margin-top: -25px;
}
.box > .subscribe{
    text-align: center;
}
#subscribe{
    font-size: 1.4em;
    font-weight: 500;
}
.box > form> #subscribe >input{
   width:70%;
   height: 5vh;
   background: #b3d5dd;
   border:none;
   border-radius: 5px;
   color: #24252a;
   position: relative;
   outline: none;
   padding: 0 10px;
   font-size: 19px
}
.box > form> #subscribe >input:hover{
    border: #24252a 1px solid;
}


#showcase h1,
#section-a h1{
    padding-top:100px;
    padding-bottom: 0;
}
#showcase .content-wrap{
    padding: 0 1.5em;
}
#section-a{
    background: #eaeaea;
    color:#333;
    padding-bottom: 2em; 
}
#section-b{
    padding: 2em 1em 2em;
}
#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color: #333; 
    border-radius: 10px;
}
.card-content{
    padding:  1.5em;
}
#section-c{
    background: #fff;
    color: #333;
    padding: 2em;
}
#section-d .box{
padding: 2em;
color: white;
}
#section-d .box:first-child{
    background: #2690d4;
}
#main-footer{
    padding: 2em;
    background: #333;
    color:#fff;
    text-align: center;
    border-top: solid 1px #eaeaea;
}
#main-footer a{
    color:#2690d4;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  /* new section for customer's */
  #section-e{
      display: none;
  }

  /*registration web page styles here included */
  #main{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
#main >h1{
    font-size: 2em;
    padding: 20px;
    margin: auto;
 padding-top: 20px;
    text-align: center;
}
form > input{
    width:60%;
    height: 5vh;
    background: #9ad6c7;
    border:none;
    border-radius: 5px;
    color: #24252a;
    position: relative;
    outline: none;
    margin-bottom: 30px;
    padding: 0 10px;
    font-size: 19px
}
form > label{
    font-size: 23px;
    margin-bottom: 30px;
}
form >select{
    width: 40%;
    padding: 8px 20px;
    border:none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgb(214, 144, 144);
    font-size: 19px;
    outline:none;

}
form> #btn-n{
    padding: 20px;
    display: block;
    height: 20%;
    width: 50%;
    transform: translate(50%);
    border-radius: 10px;
    background: #ecdbdb;
    color: #24252a;
}
#foot {
    margin-top: 45px;
    width: 100%;
}



  /*responsive for desktop version */

@media (min-width:700px){
.grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
}
.content-wrap
,#section-b ul{
  grid-column: 2/4;
}
#section-a .content-text{
    column-gap: 2em;
    columns: 2;
    margin-top: 25px;
}
#headerr{
    z-index: 10;
}
.ul li a{
    position: relative;
}
.ul >li >a::after{
    width: 0%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    height: 3px;
    background: #0088a9;
    bottom: -4px;
    content: '';
    left: 0;
    z-index: 11;
}
.ul >li> a:hover::after{
    width:100%;
}

#section-a .content-text p{
  padding-top: 0;
}
#section-a{
   display: flex; 
}
ul >li >.card{
    transition: all 1.5s;
    transform: scale(.9);
    cursor: pointer;
}
ul >li >.card >img{
    border-radius: 10px;
}
ul >li > .card:hover{
   transform: scale(1);
}
#section-c{
    width:100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .tr:nth-child(even){
    cursor: pointer;
      background: white;
  }
  .tr:hover{
    cursor: pointer;
      background: #ddd;
  }
  .box{
      margin: 10px 0;
  }
  .box:first-child{
      border-radius: 15px;
      margin-left: 20px;
      animation: work 4s ease forwards 2s;
      transform: translate(-150%);
  }
  @keyframes work {
    from{
        transform: translate(-150%);  
    }  
      to{
          transform: translate(0%);
      }    
  }

  #section-e {
      display: block;
      width:100%;
      background: rgb(241, 238, 238);
      height: 600px;
      color: #24252a; 
  }
  #section-e > h1{
   background: #333;
   color: #ddd;
   margin: 0 180px;
   border-radius: 15px;
   margin-bottom: 10px;
   padding: 20px 30px;
  }
  #card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  #message{
      
      width:320px;
      border:none;
      height: 450px;
      border-radius:15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 1s ease-in-out;
      cursor: pointer;
      opacity: .7;
  }
  #message:nth-child(1){
    transform: scale(.7);
 background: linear-gradient(0deg,#d53369,#cbad6d);
  }

  #message:nth-child(1):hover{
    background: linear-gradient(45deg,#cbad6d,#d53369);
    opacity: 1;
    transform: scale(.9);
  }
  #message:nth-child(2){
    transform: scale(.8);
    background: linear-gradient(0deg,#833ab4,#fd1d1d,#fcb045);
  }
  #message:nth-child(2):hover{
    background: linear-gradient(45deg,#fcb045,#fd1d1d,#833ab4);
    transform: scale(1);
    opacity: 1; 
  }
  #message:nth-child(3){
    transform: scale(.7);
    background: linear-gradient(0deg,#c2e59c,#64b3f4);
  }
  #message:nth-child(3):hover{
    background: linear-gradient(45deg,#64b3f4,#c2e59c); 
    transform: scale(.9);
    opacity: 1;
  }
  #message>img{
 height: 40%;
 width: 58%;
 border-radius:50%;
 object-fit: cover;
 background-repeat: no-repeat;
  }
  #message> p , h2{
      padding: 10px;
      width: 100%;
      height: 20%;
      color: #000;
  text-align: center;
  padding: 15px 20px;
  }
  #message>h2{
      margin-top: 5px;
  }
  #message> p{
      margin: 0 50px;
  }



#section-b ul{
    display: flex;
justify-content: space-around;
}
#section-b li{
    width:32%;
}
.box, #main-footer div{
    grid-column: span 2;
}
#headerr{
    position: sticky;
    top:0;
    width: 100%;
    background: #24252a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}
.logo{
    cursor: pointer;
    width: 300px;
    margin-left: 10x;
    font-size: 25px;
}
.ul li{
    display: inline-block;
    padding: 0 20px;
}
.ul li a{
    transition: all 0.3s ease 0s;
}
.ul li a:hover{
 color:#0088a9;
}
#headerr #becall{
    padding: 10px 28px;
    background: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
}
#becall:hover{
    background: rgba(0,136,169,0.8);
}

/*registration form */
#reg-body{
    overflow:hidden
}
#form>input{
    width:100%;
    padding: 20px 30px;
}
#foot{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
#foot > #main-footer{
padding: 1.5em;
}
}